/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #bfbfbf; /* Light Gray */
}

/* Navigation Bar */
.nav-btn {
  border: none;
  padding: 8px 12px; /* Reduce padding to bring items closer */
  border-radius: 20px;
  font-size: 10px;
  gap: 2px; /* Reduce gap between icon and text */
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  background: none; /* Removes background color */
}

/* Reduce space between navbar buttons */
.navbar {
  background: #1b57b8;
  display: flex;
  justify-content: space-between; /* Push items to opposite ends */
  align-items: center;
  padding: 10px 20px;
}

.nav-btn span {
  font-size: 18px;
}

.nav-btn:hover {
  background-color: #a08bcc; /* Darker Purple */
}

.active {
  border: 2px solid #9370db; /* Purple Border */
  box-shadow: 0 0 5px #9370db;
}

/* Stock Price Grid */
.stock-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

/* Stock Cards */
.stock-box {
  background-color: #3b2373; /* Dark Purple */
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 12px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 10px; /* Adjust spacing between left items */
}

.nav-right {
  display: flex;
}
